@charset "ISO-8859-1";

.presentacion {
	font-size : 20px;
	margin-top : 40px;
}

.imgPaquete {
	width : 20%;
	margin : 0 4%;
	border-radius : 25px;
	float : left;
}

.nombre {
    font-size: 30px;
}

#btnComprar {
	float: left;
	margin-top: 9px;
	margin-right: 20px;
}

.informacion {
    clear: left;
    margin-top: 5%;
    padding: 2% 4%;
}

#infoLabel {
	font-weight: bold;
}


